
*nogit*

/src/nscurl/curl-ca-bundle.crt
/src/nscurl/nsis

/packages/current
/packages/*.zip
/packages/*.7z

/libcurl-devel
libcurl-devel*.7z
libcurl-devel*.7z.etag

/tests/*.exe
/tests/_*

/Debug-*
/Release-*
/ipch
/.vs

*.opensdf
*.sdf
*.suo
*.aps
