
*nogit*

/src/nscurl/curl-ca-bundle.crt
/src/nscurl/nsis

/packages/current
/packages/*.zip
/packages/*.7z

/tests/*.exe
/tests/_*

/vcpkg

/Debug-*
/Release-*
/ipch
/.vs

*.opensdf
*.sdf
*.suo
*.aps
