
*nogit*

curl-ca-bundle.crt
/libcurl-devel
/nsis

libcurl-devel*.7z
libcurl-devel*.7z.etag
NScurl*.7z

/Test/*.exe
/Test/_*

/TestDebug/*.exe
/TestDebug/_*

Debug-*
Release-*
ipch
.vs

*.opensdf
*.sdf
*.suo
*.aps
